# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore all class files
*.class

# Ignore buildship description file
.project

# Ignore eclipse settings files
.eclipse
